<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <servlet>
    <servlet-name>DBCommServletContext</servlet-name>
    <servlet-class>in.controller.DBCommServletContext</servlet-class>
  </servlet>
  
 <context-param>
    <param-name>jdbcUrl</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>system</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>sekhar</param-value>
  </context-param>
  
   <servlet-mapping>
    <servlet-name>DBCommServletContext</servlet-name>
    <url-pattern>/DB</url-pattern>
  </servlet-mapping>
</web-app>